.button {
  @include reset-btn;
  font-size: 16px;
  line-height: 18px;
  display: flex;
  justify-content: flex-start;
  text-align: left;
  align-items: center;
  padding-left: 86px;
  padding-right: 7px;
  color: white;
  font-weight: 700;
  background: linear-gradient(180.85deg, #ff0000 0.74%, #9b2d30 129.07%);
  border-radius: 3.6549px;
  box-shadow: 0px 6px 0px #89282b;
  width: 100%;
  max-width: 233px;
  min-height: 74px;
  overflow: hidden;
  position: relative;
  transition: background 0.5s, top 0.5s;

  &_pdf {
    &::before {
      content: '';
      width: 43px;
      height: 43px;
      @include bg;
      background-image: url('/src/img/icons/form/pdf.png');
      position: absolute;
      left: 23px;
      @include y-align;
    }
  }

  &_info {
    &::before {
      content: '';
      width: 43px;
      height: 43px;
      @include bg;
      background-image: url('/src/img/icons/form/info.png');
      position: absolute;
      left: 23px;
      @include y-align;
    }
  }

  &_tool {
    &::before {
      content: '';
      width: 43px;
      height: 43px;
      @include bg;
      background-image: url('/src/img/icons/form/tool.png');
      position: absolute;
      left: 23px;
      @include y-align;
    }
  }

  &_present {
    display: none;

    @media (max-width: 650px) {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }

  @media (max-width: 650px) {
    font-size: 16px;
  }

  &:hover {
    background: linear-gradient(180.85deg, #FDB2B2 0.74%, #E43C41 129.07%);
  }

  &:active {
    background: #B82226;
    box-shadow: none;
    top: 6px;
  }

  &::after {
    content: '';
    margin-left: 60px;
    width: 25px;
    height: 300px;
    background: -webkit-gradient(
      linear,
      left bottom,
      left top,
      from(#fff),
      to(hsla(0, 0%, 100%, 0.01))
    );
    background: linear-gradient(0deg, #fff, hsla(0, 0%, 100%, 0.01));
    -webkit-animation-delay: 0.05s;
    animation-delay: 0.05s;
    position: absolute;
    left: -90px;
    top: -150px;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-animation-name: slideme;
    animation-name: slideme;
    -webkit-animation-duration: 4s;
    animation-duration: 4s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    z-index: 0;
  }

  @-webkit-keyframes slideme {
    0% {
      left: -30px;
      margin-left: 0;
    }

    30%,
    to {
      left: 110%;
      margin-left: 80px;
    }
  }

  @keyframes slideme {
    0% {
      left: -30px;
      margin-left: 0;
    }

    30%,
    to {
      left: 110%;
      margin-left: 80px;
    }
  }
}
