.plan {
  @include bg;
  min-height: 1395px;
  padding-top: 68px;
  background-image: url('/src/img/bgs/plan-bg.jpg');

  @media (max-width: 991px) {
    padding-top: 50px;
  }

  @media (max-width: 650px) {
    padding-top: 50px;
  }
}

.plan__title {
  @include title;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
  max-width: 731px;
  @include tablet-mb;
  @include mobile-mb;
}

.plan__list-box {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  margin-bottom: 55px;

  @include tablet-mb;
  @include mobile-mb;
}

.plan__list {
  @include reset-list;
  max-width: 555px;

  & > * + * {
    margin-top: 17px;
  }

  @media (max-width: 650px) {
    max-width: 300px;
  }

  &:nth-child(1) {
    @for $i from 1 through 4 {
      .plan__item:nth-child(#{$i})::before {
        content: '#{$i}';
      }
    }
  }
  &:nth-child(2) {
    @for $i from 1 through 4 {
      .plan__item:nth-child(#{$i})::before {
        content: '#{$i + 4}';
      }
    }
  }
}

.plan__item {
  background: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  padding: 22px;
  display: flex;
  gap: 20px;
  align-items: center;
  position: relative;

  &::before {
    position: absolute;
    z-index: 1;
    color: #f2f2f2;
    font-size: 200px;
    line-height: 1.2;
    right: 10px;
    @include y-align;
    position: absolute;
    font-weight: bold;

    @media (max-width: 650px) {
      top: initial;
      transform: none;
      font-size: 58px;
      bottom: 0px;
    }
  }

  @media (max-width: 650px) {
    flex-direction: column;
  }
}

.plan__item-img {
  flex-shrink: 0;
  flex-grow: 0;
  width: 195px;
  height: 132px;
}

.plan__item-text {
  margin-bottom: 5px;
  font-size: 20px;
  line-height: 1.2;
  min-height: 46px;

  @media (max-width: 650px) {
    min-height: auto;
    text-align: center;
  }
}

.plan__item-numbers {
  color: #07165d;
  font-size: 26px;
  line-height: 1.2;
  font-weight: bold;
  margin-bottom: 0;
  position: relative;
  z-index: 2;

  @media (max-width: 650px) {
    font-size: 18px !important;
    text-align: center;
  }
}

.plan__note-wrapper {
  display: flex;
  gap: 18px;
  align-items: flex-end;
  justify-content: center;
  margin-bottom: 78px;

  @include tablet-mb;
  @include mobile-mb;

  @media (max-width: 650px) {
    flex-direction: column;
    align-items: center;
  }
}

.plan__note-img {
  flex-shrink: 0;
  zoom: 0.5;
}

.plan__note-box {
  flex-grow: 1;
  max-width: 857px;
  background: #ffc700;
  border-radius: 10px;
  padding: 20px;
}

.plan__note-text {
  font-weight: bold;
  margin-bottom: 0;
  line-height: 1.25;
  text-transform: uppercase;
  text-align: center;
}

.plan__note-numbers {
  color: white;
  text-transform: uppercase;
  font-size: 24px;
  text-align: center;
  margin-bottom: 0;
  font-weight: bold;

  @media (max-width: 650px) {
    font-size: 18px !important;
  }
}
